body {
  display: flex;
  justify-content: center;
}
.signUp {
  width: 400px;
  background-color: orange;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  margin-top: 3rem;
  padding: 10px;
}
.signUp input {
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.signUp button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.signUp button:hover {
  background-color: green;
  color: white;
}
